* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}
:root{
    --x :200px;
    --y : 200px;
}

main {
    background-color: rgb(6, 5, 8);
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
   
    

    video { 
        // display: block;
        // inset: 0;   
        height: 100%;
        width: 100% !important;
        object-fit: cover;
        // object-position: center;
    }

    .box {
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: radial-gradient(300px at var(--x) var(--y),rgba(255, 255, 255, 0.015), rgba(0, 0, 0, 0.932));
    
    }
}