* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: #111;
    background-image: url(https://images.unsplash.com/photo-1763241287143-047ab2696b1e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;


    .box {
        height: 120px;
        width: 100%;
        border-bottom: 3px solid white;
        color: white;
        display: flex;
        align-items: center;
        padding-left: 15px;
        position: relative;
        cursor: pointer;
        transition: all ease 0.2s;


        h1 {
            font-size: 50px;
            font-weight: 500;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            z-index: 2;
            // mix-blend-mode: difference;
            position: relative;
        }

        img {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            // transform: translate(-50%,-50%);
            opacity: 0;
            transition: all linear 0.2s;
        }
    }
.box:hover{
    backdrop-filter: blur(5px);

}
.box:hover h1{
            mix-blend-mode: difference;

}

}