* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%,
}
body{
    background-color: rgba(4, 49, 89, 0.893);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
        body button{
            padding: 20px 30px;
            background-color: rgb(152, 4, 4);
            color: white;
        }