*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
h1{
    text-align: center;
    font-size: 30px;
    color: rgb(233, 8, 147);
    font-family: monospace;
}