* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}    
body{
  position: relative;
    overflow: hidden;
}
main {
  height: 100%;
  width: 100%;
  background-image: url(https://d7hftxdivxxvm.cloudfront.net/?height=900&quality=80&resize_to=fill&src=https%3A%2F%2Fartsy-media-uploads.s3.amazonaws.com%2F2P6t_Yt6dF0TNN76dlp-_Q%252F3417757448_4a6bdf36ce_o.jpg&width=1200);
  background-size: cover;
  background-position: center;
  //   background-color: #012d52;
  position: relative;
overflow: hidden;
  .menu {
    padding: 20px;
    height: 300px;
    width: 250px;
    // background-color: lime;

    img {
      margin-right: 26px;
      margin-bottom: 30px;
      width: 60px;
    }
    img:hover{
      scale: 1.1;
      padding: 10px 10px;
      // border: 1px solid white;
      
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
  }

  .card {
    position: absolute;
    left: 40%;
    top: 30%;
    width: 300px;
    background-color: rgba(128, 128, 128, 0.595);
    display: flex;
    gap: 10px;
    flex-direction: column;
    display: none;
    border-radius: 7px;
    overflow: hidden;
    div {
        display: flex;
        gap: 5px;
      width: 100%;
      padding: 5px;
      color: white;
      font-size: 20px;
      // border-radius: 10px
    }
    div:hover{
        // background-color: rgba(255, 255, 255, 0.274);
        background-color: lightblue;
        cursor: pointer;
    }
  }

  .taskbar {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #353131a8;
    display: flex;

    .temp{
      position: absolute;
      left: 20px;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      color: rgb(255, 251, 251);
      font-size: 20px;
    }

    .mid {
      // background-color: rgb(233, 146, 146);
      display: flex;
      align-items: center;
      gap: 20px;
      margin: auto;

      .search {
        height: 40px;
        width: 280px;
        background-color: #fff;
        border-radius: 50px;
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;
        font-size: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
          position: relative;
          img{
            position: absolute;
            right: 10px;
            width: 70px;
            object-fit: cover;
          }
      }

      img {
        height: 35px;
      }
        img:hover{
          box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
          cursor: pointer;
        }


    }
    .info{
        position: absolute;
        right: 20px;
        height: 100%;
        width: 320px;
        color: rgb(255, 251, 251);
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-around;
        font-size: 20px;
       
      

          .net{
            display: flex;
            gap: 8px;
          }
          .time{
            display: flex;
            // background-color: #fff;
            flex-direction: column;
            align-items: center;
          }
    }
  }
}

.hidden{
    height: 500px;
    width: 800px;
    background-color: rgb(243, 235, 235);
    position: absolute;
    left: 500px;
    top: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    // top: 20%;

    .khoj{
        height: 40px;
        width: 760px;
        background-color: #fff;
        border-radius: 50px;
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;
        font-size: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
          margin: 20px auto;
    }
    img{
        height: 35px;
        margin-left: 70px;
    }
}
